
body {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#bgmain1 {
    background-image: url("https://i.pinimg.com/736x/e7/55/df/e755df7d91a88d1c8f1fd3fb4655ab2e.jpg");
    height: 350px;
    display: grid;
    place-items: center; 
    border-radius: 10px;
    border-width: 30px;
    border-color: aquamarine;
    border-style: solid;
    font-weight: 700;
    text-shadow: 
    2px 2px 0 #ff559c, 
    -2px -2px 0 #00aeff; 
    font-family: 'Rubik Glitch';
    font-weight:100;
}

.inv {
    display: none;
}

#play {
    color: rgb(255, 255, 255);
    font-size: 100px;
    width: 450px;
    height: 150px;
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;
    border: 10px solid rgb(0, 255, 0);
}

#welcomeSpace {
    text-align: center;
    font-family: "Permanent Marker"
}

button.qButtons {
    width: 450px;
    height: 160px;
    display: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 100px;
    font-family: system-ui;
    font-weight: 600;
    color: black;
}

#op1 {
    background-image: linear-gradient(to right, red,yellow);
}

#op2 {
    background-image: linear-gradient(to right, yellow, rgb(0, 163, 0))
}

#op3 {
    background-image: linear-gradient(to right, green, rgb(0, 149, 255))
}

#op4 {
    background-image: linear-gradient(to right,rgb(0, 149, 255), rgb(140, 0, 255))
}

button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 15px;
    border: solid rgb(67, 166, 247);
    color: white;
    font-family: "audiowide";
}


#correctPoints {
    font-family: "Permanent Marker"
}